{% extends "base.html" %}

{% from "macros/render_pagination.html" import render_pagination %}

{% block body %}

    <h1 class="my-5">
        Search History
    </h1>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="list-group">

                {% for item in items %}
                    <a href="/search?text={{ item.text }}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ item.text }}</h5>
                            <small>{{ item.created | format_datetime() }}</small>
                        </div>
                    </a>
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="mt-3">
        {{ render_pagination(searches, 'search_history') }}
    </div>

{% endblock %}
